services:
  server:
    build: .
    ports:
      - "3001:3001"
    env_file:
      - .env
    environment:
      - NODE_ENV=development
    restart: unless-stopped

    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - node_modules/
            - .git/
            - Dockerfile
            - compose.yaml

        - action: rebuild
          path: package.json
